/*  your css code here. If applicable */
#line{
	position:absolute;
	background-color:black;
	width:200px;
	height:2px;
	margin:160px;
	animation: lines 2s linear infinite;
	animation-direction:reverse;

	@keyframes lines{
		from{
			transform:rotate(0deg);
		}
		to{
			transform:rotate(360deg);
		}
	}
	
}